body {
    font-family: 'Lato';
}

.login-screen-wrapper,
.register-screen-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #384259;
}

.login-screen,
.register-screen {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}


.login-form {
    min-width: 435px;
    max-width: 440px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    padding: 48px;
}


.login-form h1 {
    font-size: 22px;
    font-weight: normal;
}

.login-form label {
    font-size: 14px;
}

.login-form .form-control {
    height: 40px;
    padding: 0 16px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #272b30;
    font-size: 14px;
    transition: all 180ms linear;
}

.login-form .form-control[type='checkbox'] {
    position: relative;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 1px solid #bdc5c7;
}

.login-form a.btn-link {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.login-form .btn-primary {
    border-radius: 4px;
    height: 40px;
}
